# Write a python program to implement your own myreduce() functionwhich works eactly like python's reduce() function

In [1]:
def myreduce(fun,lst):
    while(len(lst)>1):
        lst[0] = fun(lst[0],lst[1])
        lst.pop(1)
    return lst[0]

In [3]:
#find max in a list
myreduce(lambda a,b : a if a>b else b,[23,54,18,74,51,98,14])

98

# Write a python program to implement your own myfilter() function which works exactly like python's filter() function

In [4]:
def myfilter(fun, lst):
    return [x for x in lst if fun(x) == True]

In [6]:
#filter out numbers >6
myfilter(lambda x: x>6, [1,2,3,4,5,6,7,8,9,10])

[7, 8, 9, 10]

# Implement list comprehensions to produce the following

1) ['x','xx','xxx','xxxx','y','yy','yyy','yyyy','z','zz','zzz','zzzz']

In [7]:
letters=['x','y','z']
[letter*num for letter in letters for num in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

2) ['x','y','z','xx','yy','zz','xxx','yyy','zzz','xxxx','yyyy','zzzz']

In [8]:
letters = ['x','y','z']
[letter*i for i in range(1,5) for letter in letters]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

3) [[2],[3],[4],[3],[4],[5],[4],[5],[6]]

In [9]:
numbers = [2,3,4]
a = [[x+num1] for x in numbers for num1 in range(0,3)]
print(a)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

4) [[2,3,4,5],[3,4,5,6],[4,5,6,7],[5,6,7,8]]

In [10]:
numbers = [2,3,4,5]
a = [[x+num1 for x in numbers] for num1 in range(0,4)]
print(a)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

5) [(1,1),(2,1),(3,1),(1,2),(2,2),(3,2),(1,3),(2,3),(3,3)]

In [13]:
lst = (1,2,3)
[(a,b) for b in lst for a in lst]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]